# Welcome Back

In [15]:
import numpy as np
import pandas as pd

np.random.seed(23) 

mu_vec1 = np.array([0,0,0])
cov_mat1 = np.array([[1,0,0],[0,1,0],[0,0,1]])
class1_sample = np.random.multivariate_normal(mu_vec1, cov_mat1, 20)

df = pd.DataFrame(class1_sample,columns=['feature1','feature2','feature3'])
df['target'] = 1

mu_vec2 = np.array([1,1,1])
cov_mat2 = np.array([[1,0,0],[0,1,0],[0,0,1]])
class2_sample = np.random.multivariate_normal(mu_vec2, cov_mat2, 20)

df1 = pd.DataFrame(class2_sample,columns=['feature1','feature2','feature3'])

df1['target'] = 0

df = pd.concat([df, df1], ignore_index=True)
df = df.sample(40)

df.sample(4)

    feature1  feature2  feature3  target
25  0.290746  0.866975  0.982643       0
38 -0.764314  1.566504  1.548788       0
24  0.748855  2.593111  1.170818       0
15 -0.045438  1.040886 -0.094035       1

In [17]:
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'